# Thunar Styles

style "sidepane" {
	base[NORMAL] = @background
	base[INSENSITIVE] = mix (0.4, shade (1.35, @selection), shade (0.9, @base))
	background[NORMAL] = @background
	text[NORMAL] = mix (0.9, @foreground, @background)
}

widget_class "*ThunarShortcutsView*" style "sidepane"
widget_class "*ThunarTreeView*" style "sidepane"
widget_class "*ThunarLocationEntry*" style "murrine-entry"