# XFCE Styles

style "workspace-switcher" = "murrine-panel" {
	background[SELECTED] = @selection
}

style "xfce-header" {
	background[NORMAL] = shade (0.9, @background)
	base[NORMAL] = shade (1.18, @background)
}

style "xfdesktop-windowlist" {
	background[NORMAL] = @base
	foreground[INSENSITIVE] = shade (0.95, @base)
	text[INSENSITIVE] = shade (0.95, @base)
}

style "xfdesktop-icon-view" {
	XfdesktopIconView::label-alpha = 0
	XfdesktopIconView::selected-label-alpha = 60
	XfdesktopIconVIew::ellipsize-icon-labels = 1

	base[NORMAL] = @selection
	base[SELECTED] = @selection
	base[ACTIVE] = @selection

	foreground[NORMAL] = @selected_foreground
	foreground[SELECTED] = @selected_foreground
	foreground[ACTIVE] = @selected_foreground

	engine "murrine" {
		textstyle = 5
		text_shade = 0.05
	}
}

style "xfwm-tabwin" {
	Xfwm4TabwinWidget::border-width = 0
	Xfwm4TabwinWidget::icon-size = 64

	background[NORMAL]	= @menu_background
	foreground[NORMAL]	= @menu_foreground

	engine "murrine" {
		focusstyle = 0
	}
}

style "xfsm-logout" {
	background[NORMAL]	= @menu_background
	background[ACTIVE]	= @menu_background
	background[PRELIGHT]	= shade (1.1, @menu_background)
	background[SELECTED]	= shade (0.5, @menu_background)
	background[INSENSITIVE]	= shade (1.3, @menu_background)

	foreground[NORMAL]	= @menu_foreground
	foreground[PRELIGHT]	= @menu_foreground

	text[NORMAL]	= @menu_foreground

	engine "murrine" {
	}
}

style "xfsm-logout-button" {
	background[NORMAL]	= shade (1.2, @menu_background)
	background[PRELIGHT]	= shade (1.4, @menu_background)

	engine "murrine" {
	}
}

widget "*WnckPager*" style "workspace-switcher"

widget "*Xfce*Panel*" style "murrine-panel"
class "*Xfce*Panel*" style "murrine-panel"