/* Copyright 2013 - 2014 Sam Hewitt.
*
* This file is part of the Moka GTK theme.
*
* The Moka GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Moka GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Moka GTK theme. If not, see http://www.gnu.org/licenses/.
*/


/***********
 * Buttons *
 ***********/
 
.button {
    -GtkWidget-focus-padding: 1;
    -GtkWidget-focus-line-width: 0;
    
    transition: border 100ms ease-in-out;

    padding: 3px 2px;
    border: 1px solid @border;
    border-radius: 4px;
    background-image: linear-gradient(to bottom,
                                  @button_gradient_a,
                                  @button_gradient_b
                                  );
    color: @text;
}


.button:focus,
.button:active:hover,
.button:hover:focus,
.button:active:focus,
.button:active:hover:focus {
    border: 1px solid;
    border-color: @active_border;
}


.button:hover {
    border: 1px solid;
    border-color: @hover_selection;
    background-image: linear-gradient(to bottom,
                                  @button_hover_gradient_a,
                                  @button_hover_gradient_b
                                  );
}

/* Active/Pressed Button */
.button:active {
    border: 1px solid;
    border-color: @selected_background; 
    background-image: linear-gradient(to bottom,
                                  @button_active_gradient_a,
                                  @button_active_gradient_b
                                  );
    color: @text;
}


/* Separator */
.button .separator,
.button.separator {
    color: @border;
}

.button .separator:insensitive,
.button.separator:insensitive {
    color: @insensitive_border;
}

/* Insensitive Button */
.button:insensitive {
    border: 1px solid;
    border-color: @insensitive_border;
    background-color: @insensitive_background;
    background-image: none;
}

.button:active:insensitive {
    border: 1px solid;
    border-color: @insensitive_border;
    background-color: @insensitive_background;
    background-image: linear-gradient(to bottom,
                                  @button_insensitive_gradient_a,
                                  @button_insensitive_gradient_b
                                  );
}

/* backdrop Button */
.button:backdrop {
    border: 1px solid;
    border-color: @backdrop_border;
    background-color: @backdrop_background;
    background-image: none;
}

.button:active:backdrop {
    border: 1px solid;
    border-color: @backdrop_border;
    background-color: @backdrop_background;
    background-image: linear-gradient(to bottom,
                                  @button_backdrop_gradient_a,
                                  @button_backdrop_gradient_b
                                  );
}


/* Default Button */
.button.default {
    border: 1px solid;
    border-color: @selected_background;
    color: @text;
    background-image: linear-gradient(to bottom,
                              @button_gradient_a,
                              @button_gradient_b
                              );
}

.button.default:hover {
    border: 1px solid;
    border-color: @hover_selection;
    color: @hover_text;
    background-image: linear-gradient(to bottom,
                                  @button_hover_gradient_a,
                                  @button_hover_gradient_b
                                  );
}

.button.default:active {
    border: 1px solid;
    border-color: @selected_background;
    color: @active_text;
    background-image: linear-gradient(to bottom,
                              @button_active_gradient_a,
                              @button_active_gradient_b
                              );
}

.button.default:active:hover {
    border: 1px solid;
    border-color:  @hover_selection;
    background-image: linear-gradient(to bottom,
                              @button_active_gradient_a,
                              @button_active_gradient_b
                              );
}