/* Copyright 2014 Sam Hewitt.
*
* This file is part of the Orchis GTK theme.
*
* The Orchis GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Orchis GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Orchis GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/*******
 * CSD *
 *******/
.titlebar {
    text-shadow: 0 1px @wm_title_shadow;

    background-image: linear-gradient(to bottom,
                                      @wm_gradient_a,
                                      @wm_gradient_b);
    border-radius: 7px 7px 0px 0px;
    border-width: 0px;
}

/* this is the default titlebar that is added by GTK
 * when client-side decorations are in use and the application
 * did not set a custom titlebar.
 */

.titlebar.default-decoration {
    border: none;
    box-shadow: none;
}

.titlebar .title {
    font: Bold 11;
}

.titlebar:backdrop {
    text-shadow: none;
    background-image: none;
    background-color: @wm_gradient_b;
}

.titlebar .titlebutton {
    icon-shadow: 0px 1px @wm_title_shadow;
    color: @wm_title;
    background: none;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
    border-width: 1px;
    border: 1px solid transparent;
    border-style: solid;
    border-image: none;
}

.titlebar .titlebutton:hover {
    background-image: linear-gradient(to bottom,
                                      @button_hover_gradient_a,
                                      @button_hover_gradient_b);
}

.titlebar .titlebutton:active {
    background-image: linear-gradient(to bottom,
                                      @button_active_gradient_a,
                                      @button_active_gradient_b
                                      );
    color: @selected_foreground;
    icon-shadow: none;
}

.titlebar .right .titlebutton:first-child {
/*    border-left: 1px solid @menu_separator;*/
}

.titlebar .right .titlebutton:last-child {

}

.titlebar .left .titlebutton:last-child {
/*    border-right: 1px solid @menu_separator;*/
}

.titlebar .left .titlebutton:first-child {

}

.titlebar .titlebutton:backdrop {
    background-image: none;
    color: @wm_backdrop_title;
    border-image: none;
    icon-shadow: none;
}

/* Window Frame */
.window-frame {
    border: 1px solid @border;
    border-radius: 6px 6px 0 0;
    border-width: 1px;
    border-style: solid;

    box-shadow: 0 2px 8px 3px @wm_shadow;

    /* this is used for the resize cursor area */
    margin: 10px;
}

.window-frame:backdrop {
    box-shadow: 0 2px 5px 1px @wm_shadow;
}