/* Copyright 2014 Sam Hewitt.
*
* This file is part of the Orchis GTK theme.
*
* The Orchis GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Orchis GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Orchis GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/**************
 * List boxes *
 **************/
EggListBox {
    background-color: @base;
}

EggListBox:hover {
    background-color: @background;
}

EggListBox:selected {
    background-color: @selection;
    box-shadow:inset 0 0 0 1px  @selection;
}

.list {
    background-color: @base;
}

.list-row:hover {
    background-color: @background;
}

.list-row:selected {
    background-color: @selection;
}


/****************
 * Content view *
 ****************/
.content-view.view {
    background-color: @content_view_background;
}

.content-view.view:insensitive {
    background-color: @insensitive_base;
    background-image: none;
}

.content-view.view:backdrop {
    background-color: @sidebar_background_backdrop;
    background-image: none;
}

.content-view.view:selected {
    background-color: @selection;
    background-image: none;
}

.content-view.view:selected:backdrop {
    background-color: @backdrop_selected_background;
    background-image: none;
}

/* FIXME: EggListBox should set the .cell style class on
 * the background it renders for the children, like
 * GtkIconView and GtkTreeView do */
.content-view.cell {
    background-color: transparent;
    background-image: none;
}

EggListBox.content-view:hover,
.content-view.cell:hover {
    background-color: @background;
}

EggListBox.content-view:selected,
EggListBox.content-view:active,
.content-view.cell:selected,
.content-view.cell:active {
    background-color: @selection;
    background-image: none;
}

EggListBox.content-view:selected:backdrop,
.content-view.cell:selected:backdrop {
    background-color: @backdrop_selected_background;
    background-image: none;
}