/* Copyright 2014 Sam Hewitt.
*
* This file is part of the Orchis GTK theme.
*
* The Orchis GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Orchis GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Orchis GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/*************************
 * Sidebar & Source list *
 *************************/

.sidebar,
.sidebar.view,
.sidebar .view,
.source-list,
.source-list.view
.sidebar GtkScrolledWindow {
    background-color: @background;
    color: @foreground;   
    border: solid @border;
    border-width: 0;
}

.sidebar,
.source-list {
    -GtkTreeView-horizontal-separator: 1px;
    -GtkTreeView-vertical-separator: 6px;
}


/* Separator */
.sidebar.view.separator,
.view.separator,
.separator {
    border: none;
    color: transparent;
}

/* Shadows */
.sidebar,
.sidebar.view,
.sidebar.view:selected:backdrop,
.sidebar.view:prelight:selected:backdrop,
.source-list,
.source-list.view,
.source-list.view:selected:backdrop,
.source-list.view:prelight:selected:backdrop {
    text-shadow: none;
    icon-shadow: none;
}

/* Frame */
.sidebar .frame {
    border: solid @border;
    border-width: 0px 1px 1px 1px;
}

.sidebar .frame:insensitive {
    border-color: @insensitive_border;
}

.sidebar .frame:backdrop {
    background-color: @backdrop_background;
    border-color: @backdrop_border;
    color: @backdrop_text;
}

/* Insensitive */
.sidebar:insensitive,
.sidebar.view:insensitive,
.sidebar.view:hover:insensitive,
.sidebar .view:insensitive,
.sidebar .view:hover:insensitive,
.source-list.view:insensitive,
.source-list.view:hover:insensitive,
.source-list.view:focus:insensitive,
.source-list.category-expander:hover {

    color: @insensitive_text;
    background: @insensitive_background;
    border: none;
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
}


/* Backdrop */
.sidebar:backdrop,
.sidebar.view:backdrop,
.sidebar.view:hover:backdrop,
.sidebar .view:backdrop,
.sidebar .view:hover:backdrop,
.source-list.view:backdrop,
.source-list.view:hover:backdrop,
.source-list.view:focus:backdrop,
.source-list.category-expander:hover {

    color: @backdrop_text;
    background: @backdrop_background;
    border: none;
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
}

/* Selected */
.sidebar.view:selected,
.sidebar.view:hover:selected,
.sidebar .view:selected,
.sidebar .view:hover:selected,
.source-list.view:selected,
.source-list.view:hover:selected,
.source-list.view:focus:selected,
.source-list.category-expander:hover {

    color: white;
    border: none;

    background: @selection;
    box-shadow: none;
    text-shadow:none;
    icon-shadow:none;
}

/* Hover */
.sidebar.view:hover,
.sidebar .view:hover,
.source-list.view:hover,
.source-list.view:focus:hover,
.source-list.category-expander:hover {

    color: @text;
    border: none;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
}

/* Selected Backdrop */
.sidebar.view:selected:backdrop,
.sidebar.view:hover:selected:backdrop,
.sidebar .view:selected:backdrop,
.sidebar .view:hover:selected:backdrop,
.source-list.view:selected:backdrop,
.source-list.view:hover:selected:backdrop {
    color: @backdrop_foreground;
    background: shade(@backdrop_background,0.8);
    border: none;
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
}
