/* Copyright 2014 Sam Hewitt.
*
* This file is part of the Orchis GTK theme.
*
* The Orchis GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Orchis GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Orchis GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/*********
 * gedit *
 *********/
 
GeditWindow .pane-separator, 
GeditWindow .pane-separator:hover {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: shade(@background, 0.8);
    background-color: shade(@background, 1.02);
    color: shade(@background, 0.8);
}

GeditPanel.title GtkLabel {
    padding: 4px 0;
}

GeditPanel.vertical .title {
    padding: 4px 0 4px 3px;
    border-style: none;
}

GeditPanel .toolbar {
    border-style: none;
    background-color: transparent;
}

GeditDocumentsPanel .view {
    background-color: @background;
}

GeditPanel.vertical .notebook {
    padding: 0;
    border-width: 1px 0;
}

GeditPanel.horizontal .notebook {
    padding: 0;
    border-width: 0 1px 1px 0;
}

GeditWindow .notebook {
    border-width: 1px 0;
}

GeditPanel .notebook tab,
GeditWindow .notebook tab {
    border-width: 0;
}

GeditStatusComboBox .button,
GeditStatusComboBox .button:hover,
GeditStatusComboBox .button:active,
GeditStatusComboBox .button:active:hover {
    padding: 1px 6px 2px 4px;
    border-style: solid;
    border-width: 0 1px;
    border-radius: 0;
}

GeditStatusComboBox .button:hover,
GeditStatusComboBox .button:active,
GeditStatusComboBox .button:active:hover {
    border-color: shade(@background, 0.8);
}

GeditViewFrame .gedit-search-slider {
    padding: 4px;
    border-radius: 0 0 2px 2px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: shade(@base, 0.8);
    background-color: @base;
}

GeditViewFrame .gedit-search-slider .not-found {
    background-color: @error_background;
    background-image: none;
    color: @error_foreground;
}

GeditViewFrame .gedit-search-slider .not-found:selected {
    background-color: @selected_background;
    color: @selected_foreground;
}

GeditFileBrowserWidget .primary-toolbar.toolbar  {
    padding: 2px;
    border-top: none;
    background-color: @background;
    background-image: none;
}